.ConteinerMainNews {
    width: 1000px;
    margin: 0 auto;
    margin-top: 10px;
}

.BodyNews {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.hr {
    margin-top: 2em;
    opacity: 0.5;
    border: 2px solid grey;
}

.ContainerCategorySelector {
    position: absolute;
    margin-top: 20px;
    width: 100%;
    left: 830px;
}

/* Медиа-запросы для адаптивности */
@media screen and (max-width: 1024px) {
    .ConteinerMainNews {
        width: 90%;
    }
    
    .ContainerCategorySelector {
        left: 75%;
    }
}

@media screen and (max-width: 768px) {
    .BodyNews {
        grid-template-columns: 1fr;
    }
    
    .ContainerCategorySelector {
        left: 70%;
    }
}

@media screen and (max-width: 480px) {
    .ConteinerMainNews {
        width: 95%;
    }
    
    .ContainerCategorySelector {
        position: static;
        margin: 20px auto;
        text-align: center;
    }
}